repositories:
  - name: metrics-server
    url: https://kubernetes-sigs.github.io/metrics-server/
  - name: dapr
    url: https://dapr.github.io/helm-charts/
  - name: bitnami
    url: https://charts.bitnami.com/bitnami

releases:
  # NGINX Ingress Controller
  - name: nginx-ingress
    chart: ./ingress
    namespace: ingress-nginx
  # Metrics Server
  - name: metrics-server
    namespace: kube-system
    chart: metrics-server/metrics-server
    version: ~3.12.0
    values:
      - args:
          - --kubelet-insecure-tls

  # Dapr
  - name: dapr
    namespace: dapr-system
    createNamespace: true
    chart: dapr/dapr
    version: ~1.14.0
    values:
      - global:
          ha:
            enabled: false

  # PostgreSQL　　(dev)
  - name: postgresql
    namespace: database
    createNamespace: true
    chart: bitnami/postgresql
    version: ~16.4.0
    values:
      - auth:
          postgresPassword: postgres
          username: app
          password: app123
          database: appdb
        primary:
          service:
            type: NodePort
            nodePorts:
              postgresql: 30432
          persistence:
            enabled: true
            size: 1Gi
        metrics:
          enabled: true
